/*
 Copyright (c) 2026 Ashraf Morningstar
 These are personal recreations of existing projects, developed by Ashraf Morningstar
 for learning and skill development.
 Original project concepts remain the intellectual property of their respective creators.
 Repository: https://github.com/AshrafMorningstar
*/

# Logs
/logs
*.log

# Coverage directory used by tools like istanbul
/coverage

# Dependency directories
node_modules

# Compiled sanity studio
/dist
